@{
    ViewData["Title"] = "Manage Users";
}
<section class="bg-section">
    <div class="container position-relative px-3 main-container ">
        <div class="row mb-3">
            @foreach (HomeUser user in Model.userHome)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-main">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @user.FirstName  @user.LastName
                                            <a class="text-white float-right">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mt-2">
                                <img src="~/@user.UserImageURL" class="user-member-img rounded-circle" alt="@user.FirstName">
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <p class="card-text">
                                        <strong> <span class="main-color">Email: </span>@user.Email</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Phone: </span>@user.PhoneNumber</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Address: </span>@user.Address</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Role: </span> Home User</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text d-flex justify-content-between">
                                        <a class="btn btn-success">
                                            <span class="pe-2">Edit</span>
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a class="btn btn-danger">
                                            <span class="pe-2">Delete</span>
                                            <i class="fas fa-user-slash"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (ApplicationUser user in Model.userApp)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-main">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @user.FirstName  @user.LastName
                                            <a class="text-white float-right">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mt-2">
                                <img src="~/@user.UserImageURL" class="user-member-img rounded-circle" alt="@user.FirstName">
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <p class="card-text">
                                        <strong> <span class="main-color">Email: </span>@user.Email</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Phone: </span>@user.PhoneNumber</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Address: </span>In Home</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong> <span class="main-color">Role: </span> Home/Application User</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text d-flex justify-content-between">
                                        <a class="btn btn-success">
                                            <span class="pe-2">Edit</span>
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a class="btn btn-danger">
                                            <span class="pe-2">Delete</span>
                                            <i class="fas fa-user-slash"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
