@model  IEnumerable<Devices_Status>
@{
    ViewData["Title"] = "History";
}

<section>
    <div class="container position-relative px-3 main-container">
        <div class="row gy-3 mb-3">
            <div class="col-lg-8">
                <div class="security-container rounded-3 mb-2 p-4 bg-white">
                    <h6 class="box-title fw-bold">@ViewData["SystemName"]</h6>
                    <div class="table-responsive-md">
                        <table id="tblHomeSystems" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    @foreach (var device in Model)
                                    {
                                        <tr class="alert-secondary">
                                            <td>
                                                <i class="@ViewData["IconName"] fs-4 p-2"></i>
                                            </td>
                                            <td class="status">
                                                @if (device.Id == 5)
                                                {
                                                    <span class="badge fs-6 @(device.Status == 1 ? "bg-success" : "bg-danger") ">@(device.Status == 1 ? "On" : "Off")</span>
                                                }
                                                else
                                                {
                                                    <span class="badge fs-6 @(device.Status == 0 ? "bg-success" : "bg-danger") ">@(device.Status == 0 ?  @ViewData["TrueValue"] : @ViewData["FalseValue"])</span>
                                                }

                                            </td>
                                            <td>
                                                @device.ModifyDateTime.ToLongDateString()
                                            </td>
                                            <td>
                                                @device.ModifyDateTime.ToLongTimeString()
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="security-container rounded-3 mb-2 p-4 bg-white">
                    <h6 class="box-title fw-bold">Other System</h6>
                    <div>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="1" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 1) ? "d-none" : "flex")">   Home Security  </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="3" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 3) ? "d-none" : "flex")">   Fire System  </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="4" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 4) ? "d-none" : "flex")">   Smoke System  </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="5" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 5) ? "d-none" : "flex")">   Outdoor Light </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="32" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 32) ? "d-none" : "flex")">   Garage Security  </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="34" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 34) ? "d-none" : "flex")">  Left Parking   </a>
                        <a asp-controller="DeviceHistory" asp-action="DevicesHistory" asp-route-id="35" class="btn btn-outline-main  w-100 mb-3 @(Model.Any(x=>x.DeviceId == 35) ? "d-none" : "flex")">   Right Parking  </a>
               
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    <script src="~/js/index.js"></script>
}
